.x.axis path,
.x.axis line,
.y.axis path,
.y.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #eee;
    padding: 5px;
    font: 10px Arial;
    text-align: center;
  }